@mixin position($v:absolute) {
  position: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin displayFlex($val:column){
  display: flex;
  display: -webkit-flex;
  flex-flow: $val;
}
@mixin boxsizing($v:border-box){
  box-sizing:$v;
  -webkit-box-sizing:$v;
}
@mixin radius($v:5px){
  border-radius: $v;
  -webkit-border-radius: $v;
}
@mixin flexitem($v:4) { 
  -webkit-flex-grow: $v; 
  flex-grow: $v; 
}
@mixin border(){
  border-color:rgba(229, 229, 229, 1);  
  border-style: solid;
}
@mixin flexwrap(){
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.lv-carview-banner{
  .am-carousel-wrap-dot > span{
    width:10px;
    height:10px;
    margin:0 5px;
    opacity: 0.7;
  }
  .am-carousel-wrap-dot-active > span{
    background-color: #22ac38;
    opacity: 1;
  }
}
.lv-car-nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #f5f5f9;
  img{
    width:100%;
    height: auto;
    display: block;
  }
  .am-segment{
    min-height: 40px;
  }
  .am-segment-item{
    color: #9ea4aa;
    border:none;
  }
  .am-segment-item-selected{
    color: #22ac38;
    border-bottom: 1px #22ac38 solid;
    background:none;
    @include radius(0);
  }
}
.lv-car-pane-page{
  .am-tabs-default-bar-tab{
    line-height: 40px;
    height: 40px;
  }  
  .am-tabs-default-bar-tab{
    color: rgb(148, 148, 148);
  }
  .am-tabs-default-bar-tab-active{
    color: #22ac38;
  }
  .am-tabs-default-bar-underline{
    border: 1px #22ac38 solid;
  }
}

.lv-top-fixed{
  position: fixed;
  width: 100%;
  top:0;
  z-index: 10;
}

.lv-pane-carlist{
  position: relative; 
  padding: 45px 0 50px 0; 
  .lv-car-item{
    padding:0 10px;
    .lv-car-item-inner{
      position: relative;
      padding: 20px 0;
      zoom:1;
      .lv-car-item-inner-con{
        padding:0 0 0 125px;
        min-height: 70px;
        .am-flexbox .am-flexbox-item{
          margin-left: 2px;
        }
      }
    }
  }
  .lv-car-subtitle{
    line-height: 1.2;
    margin-bottom: 3px;
    font-size:14px;
    a{
      color: #000;
    }
  }
  .lv-car-info{
    line-height: 1.2;
    font-size:12px;
    color: #93979c;
  }
  .list-view-section-body{
    img{
      width:122px;
      height: 70px;
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
    }
  }
  .sticky-list .sticky-container .am-list-item { padding-left: 0; }
  .sticky-list .sticky-container .am-list-line { padding-right: 0; }
  .sticky-list .sticky-container .am-list-line .am-list-content { padding-top: 0; padding-bottom: 0; }
  .sticky-list .sticky-container .sticky { padding: 7px 15px; transform: none; }
}
.lv-font-c2{
  color: #22ac38;
}
.lv-h2{
  font-size: 18px;
  font-weight: bold;
  color: #1c242f;
  line-height: 1.8;
  padding-bottom: 8px;
}
.lv-pane-carview{
  .lv-h2{
    border-bottom: 1px #f3f3f3 solid;
  }
  .lv-pane-carview-inner{
    padding:10px 15px;
    background-color: #ffffff;
  }
  .lv-pane-carview-inner2{
    background-color: #ffffff;
  }
  .lv-pane-carview-col-1{    
    padding:15px 0 0 0; 
    img{
      width:60px;
      height:60px;
      display: block;
      margin: 0 auto;
    }
    .am-flexbox-item{
      margin-left:0;
    }
    .lv-pane-carview-f1{
      color: #9ea4aa;
      font-size: 12px;
      text-align: center;
    }
    .lv-pane-carview-f2{
      color: #565656;
      font-size: 10px;
      text-align: center;
      white-space: nowrap;
    }
  }
  .lv-pane-carview-col-2{
    .my-list{
      font-size:16px;      
      .spe .am-list-extra {
        flex-basis: initial;
      }
      .am-list-item{
        padding-left: 0;
        .am-list-line .am-list-content{
          color: #3f3e3e;
          padding-left: 15px;
          font-size: 15px;
        }

      }
      .am-list-item .am-list-line .am-list-extra{
        font-size: 15px;
      }
    }
     
    .am-list-header{
      background-color: #f5f5f5;
      font-size: 16px;
      border-bottom: 1PX solid #f3f3f3;
      padding-top: 12px;
      padding-bottom:6px;
      .lv-carview-borlft{
        border-left:1px #22ac38 solid;
        padding-left: 8px;
        font-weight: bold;
        color: #3f3e3e;
      }
    }
  }
}
.lv-carview-btn{
  padding:15px;
  .am-button{
    background-color: #ff7e00;
    color: #ffffff;
  }
}
.lv-pane-orderview{
  .lv-pane-orderview-inner{
    background-color: #ffffff;
  }
  .lv-pane-orderview-column1{
    .lv-pane-orderview-h2{
      color: #5b6873;
    }
    .am-list-item{
      padding-right: 15px;
    }
    .am-list-item .am-list-line{
      padding-right: 0;
    }
    .am-list-item .am-list-thumb:first-child{
      margin-right: 8px;
    }
    .am-list-item img {
        width: 120px;
        height: 60px;
    }
  }
  
  .lv-pane-orderview-arritem{
    position: relative;
    padding-left: 70px;
    margin-bottom: 8px;
    
    .lv-pane-orderview-arr-l{
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
    }
  }
  .lv-pane-orderview-arritem2{
    position: relative;
    padding-left: 100px;
    margin-bottom: 8px;
    
    .lv-pane-orderview-arr-l{
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
    }
  }
  .lv-pane-orderview-arr-l{
    color: #9ea4aa;
    font-size: 14px;
  }
  .lv-pane-orderview-arr-r{
    color: #5b6873;
    background-color: #f1f3f6;
    padding: 0 0 0 5px;
    font-size: 12px;
  }
  .lv-pane-orderview-arritem:last-child{
    margin-bottom: 0;
  }
}
.lv-pane-orderview-submit{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  .lv-pane-orderview-submit-l{
    color: #b3bec6;
    font-size: 12px;
    width: 58%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    float: left;
  }
  .lv-pane-orderview-submit-r{
    background-color: #38b44c;
    color: #ffffff;
    font-size: 18px;
    width: 40%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    float: right;
  }
}
.lv-pane-orderview-column2{
  .am-list-item .am-list-line .am-list-content{color: #5b6873;}
  .am-list-item .am-input-label{color: #5b6873;}
}
.lv-top-navbar .am-navbar-light{
  background-color: #f5f5f9;
  color: #9ea4aa;
}
.lv-pane-orderview-column3{
  .am-list-item .am-list-line .am-list-content{
    color: #5b6873;
  }
}
.lv-nodata{
  padding:30px 0;
  text-align: center;
  font-size: 15px;
  color: #999;
}