@mixin position($v:absolute) {
  position: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin displayFlex($val:column){
  display: flex;
  display: -webkit-flex;
  flex-flow: $val;
}
@mixin boxsizing($v:border-box){
  box-sizing:$v;
  -webkit-box-sizing:$v;
}
@mixin radius($v:5px){
  border-radius: $v;
  -webkit-border-radius: $v;
}
@mixin flexitem($v:4) { 
  -webkit-flex-grow: $v; 
  flex-grow: $v; 
}
@mixin border(){
  border-color:rgba(229, 229, 229, 1);  
  border-style: solid;
}
@mixin flexwrap(){
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.lv-pane-order{
  position: relative;
  font-size: 15px;
  .lv-order-text{
    @include boxsizing();
    padding:0 2px;
    textarea{
      resize:none;
      width: 100%;
      @include boxsizing();
    }
  }
  .am-list-header{
    background-color: #ffffff;
    color: #000;
    font-size: 15px;
    padding-bottom: 0;
  }
  .am-textarea-control textarea{
    height: 60px;
    overflow-y:auto; 
  }
  .am-list-item .am-list-line .am-list-content{
    font-size: 15px;
  }
  .am-list-item .am-input-label{
    font-size: 15px;
  }
  .am-list-item .am-input-control input,.am-textarea-control textarea{
    font-size: 15px;
  }
  
}
.lv-order-btn{
  padding: 40px 40px 10px 40px;
  font-size: 18px;
  .am-button-primary{
    background-color: #22ac38;
  }
}
html:not([data-scale]) .lv-order-btn .am-button-primary::before{
  border:1px #22ac38 solid;
}
.lv-order-telephone{
  text-align: center;
  color: #b4b9bd;
}
.lv-dialog-text{
  font-size:14px;
}
.lv-dialog-text-tips{
  line-height:1;
  padding:15px 0;
  text-align: left;
  color: #5b6873;
  span{
    font-weight: bold;
    color: #1c242f;
  }
}
.lv-dialog-text-code{
  .am-list-item .am-input-label,.am-list-item .am-input-control input{
    font-size: 15px;
    height:30px;
    padding:0 0 0 2px;
    border:1px #ddd solid;
  }
  .am-list-item .am-list-line{
    padding-right: 5px;
  }
  .am-list-item .am-list-line .am-list-extra{
    padding-right: 10px; 
  }
  .am-list-item.am-input-item{
    height: 30px;
    min-height: 30px;
  }
  .am-list-item{
    padding-left: 0;
  }
  .am-list-item .am-list-line-multiple{
    padding-right: 0;
  }
  .am-list-body .am-list-item.am-list-item-middle .am-list-line{
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align: initial;
    align-items: initial; 
  }
}
html:not([data-scale]) .lv-dialog-text-code .am-list-body div:not(:last-child) .am-list-line::after{
  height:0;
}
.am-modal.am-modal-transparent .am-modal-content{
  padding-top: 0;
}
.am-modal-wrap .am-modal-content .am-modal-header{
  padding-top: 15px;
  background-color: #eff2f6;
  color: #5f6670;
}
