html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}
body{
  line-height: 1.75;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

input, textarea {
  outline: none;
}

@mixin position($v:absolute) {
  position: $v;
}

@mixin opacity($v:0) {
  opacity: $v;
}

@mixin displayFlex($val:column){
  display: flex;
  display: -webkit-flex;
  flex-flow: $val;
}
@mixin boxsizing($v:border-box){
  box-sizing:$v;
  -webkit-box-sizing:$v;
}
@mixin radius($v:5px){
  border-radius: $v;
  -webkit-border-radius: $v;
}
@mixin flexitem($v:4) { 
  -webkit-flex-grow: $v; 
  flex-grow: $v; 
}
@mixin border(){
  border-color:rgba(229, 229, 229, 1);  
  border-style: solid;
}
@mixin flexwrap(){
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.clearfix{
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.hr10,.hr15{
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both;
}
.hr10{
  height: 10px;  
}
.hr15{
  height: 15px;  
}
.pad-tb10{
  padding-top:10px;
  padding-bottom:10px;
}
.wrapper {
    position: relative;
    z-index: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.lv-container{
  position: relative;
  .lv-banner{
    position: relative;
    z-index: 1;
  }
  .lv-pane-index{
    position: relative;
    z-index:2;
    zoom:1;
    top:-30px;
    overflow: hidden; 
    padding-top: 30px;
    .lv-pane-index-inner{
      position: relative;
      background-color: #ffffff; 
    }  
    .lv-pane-index-form{
      position: relative;
      top:-30px;
      background-color: #ffffff;      
      margin-left: 14px;
      margin-right:14px;
      padding:10px 0px;
      box-shadow: 2px 2px 1px rgba(229, 229, 229, 1);
      border-width:1px;
      @include border();
      @include radius();
    }
    .lv-pane-index-formitem{
      margin-left:15px;
      margin-right:15px;
    }
    .picker-list{
      .am-list-item .am-list-line .am-list-content{
        font-size: 15px;
      }
      .am-list-item .am-list-line .am-list-extra{
        font-size: 15px;
      }
    }
    .am-list-item .am-list-line .am-list-arrow{
      height: 12px;
    }
  }

}
.lv-menus{
  border-top: 1px #cccccc solid;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  z-index: 1000;
  ul{
    display:flex;
    li{
      flex:1;
      text-align: center;
      padding-top: 8px;
      img{
        width:26px;
        height:22px;
      }
    }
    .lv-menus-cur{
      color: #1AAD19;
    }
    .lv-menus-font{
      height:24px;
      line-height: 24px;
      font-size: 32px;
      font-size:15px;
    }
  }
}
.lv-pane-btn01{
  background-color: #1AAD19;
  border:none;
  color: #ffffff;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
  @include radius(3px);
}
.lv-pane-index-formitem{
  margin-bottom: 5px;
  .lv-form-label{
    display: inline-block;
    color: #666666;
    margin-right: 5px;
  }
  .lv-form-input{
    display: inline-block;
    select{
      width:100%;
      display: block;
    }
  }
}
.lv-borderleft{
  border-left:2px #1AAD19 solid;
  padding-left: 5px;
}
.lv-icon-arrow{
  position: relative;
  top:4px;
}
.lv-icon-arrow:after, .lv-icon-arrow:before {
  border: 6px solid transparent;
  border-left: 6px solid #fff;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -12px;
  content: ' '
}

.lv-icon-arrow:before {
  border-left-color: #666666;
  right: -13px;
}
.lv-pane-index-li{
  color: #666666;
  border-bottom: 1px #cccccc solid;
  padding:10px 0 5px 0;
  .lv-pane-index-li-inner{
    position: relative;
    margin:0 10px;
    a{
    	color: #666666;
    }
    .lv-icon-arrow{
      display: block;
      width: 10px;
      position: absolute;    
      top:6px;
      right: 10px;
    }
  }
}
.lv-h3{
  font-size: 0.45rem;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 2.5;
}
.lv-pane-index-column{
  background-color: #ffffff;
}
.lv-pane-index-column-icon{
  color: #666666;
  .flex-container{
    margin: 0 15px;
    .am-flexbox .am-flexbox-item{
      font-size: 12px;
      text-align: center;
    }
  }
  .lv-item-icon{
    text-align: center;
    img{
      width: 50%;
      height: auto;      
      display: block;
      margin: 0 auto;
    }
  }
}
.lv-pane-index-title{
  text-align: center;
  color: #C9C9C9;  
  @include boxsizing();
  .am-button-ghost{
    color: #1AAD19;
  }
}
.antm-button-small {
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    border:1PX solid #1AAD19;
    outline: 0 none;
    color: #1AAD19;
    border-radius: 15px;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    box-sizing: border-box;
}
html:not([data-scale]) .am-button-ghost::before{
  border: 1PX solid #1AAD19;
}
html:not([data-scale]) .am-list-body::before{
  height: 0;
}
html:not([data-scale]) .am-list-body::after{
  height: 0;
}
.lv-pane-index-list-01{
  margin-top: -25px;
  .am-list-item .am-list-line .am-list-content{
    font-size:15px;
  }
  .am-list-item .am-list-line{
    padding-right: 30px;
  }
}
.lv-menu-bar{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}
.lv-am-list-footer{
  text-align: center;
}
.am-modal-header{
  border-bottom: 1px #dddddd solid;
}
.lv-dialog-text{
  .am-result .am-result-message{
    font-size: 15px;
    height: 50px;
    overflow: scroll;
  }
}
html:not([data-scale]) .lv-dialog-text .am-result::after{
  height: 0px;
}
.lv-pane-list-item-last{
  .am-list-item.am-list-item-middle .am-list-line{
    border-bottom: 1px #ddd solid;
  }
}
.lv-pane-list-item-only{
  .am-list-header{
    padding: 7px 15px 0 15px;
    color: #5b6873;
    font-size: 17px;
  }
  .am-textarea-label{
    color: #5b6873;
    font-size: 17px;
  }
}